Flask==3.1.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.2
Flask-Migrate==4.1.0
Flask-Limiter==3.12
pandas==2.2.3
openpyxl==3.1.5
reportlab==4.2.5
gunicorn==23.0.0
psycopg[binary]==3.2.6
openai==1.69.0
boto3==1.37.14
pypdf==5.4.0
python-docx==1.1.2
python-pptx==1.0.2
